@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/* ^ Navbar Starts Here. */

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .55);
    font-size: 14.4px;
    line-height: 24.48px;
    color: #666666;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #387ed1;
}

/* & Navbar Starts Here. */

/* * -------------------------------------------------------------------------------------- */

/* ^ Hero Section Starts Here. */
.hero-img {
    margin-top: 100px;
    margin-bottom: 55px;
}

.hero-content h1 {
    font-size: calc(1.375rem + 1.5vw);
    color: #424242;
    line-height: 55px;
    text-align: center;
}

.hero-content p {
    margin-top: 0px;
    margin-bottom: 2rem;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #424242;
}

.hero-btn {
    font-weight: 500;
    font-size: 19.2px;
    line-height: 23.04px;
    text-align: center;
    background: #387ed1;
    color: #ffffff;
    border-radius: 3px;
    padding: 10px 30px;
}

.hero-btn:hover {
    background: #222222;
}

/* & Hero Section Ends Here. */

/* * -------------------------------------------------------------------------------------- */

/* ^ Recognition Section Starts Here. */

.recognition {
    margin-top: 200px;
}


.rec-content h1 {
    font-size: 32px;
    line-height: 48px;
    color: #424242;
    text-align: start;
    margin-bottom: 20px;
    margin-top: 25px;
}

.rec-content p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 28.8px;
    color: #424242;
    text-align: start;
    margin-bottom: 20px;
}

.rec-content ul {
    list-style: none;
}

.rec-content ul li {
    font-size: 16px;
    line-height: 28.8px;
    color: #424242;
    text-align: start;
    margin-bottom: 5px;
}

.rec-content ul li::before {
    content: "\2022";
    color: #000;
    font-size: 14px;
    margin-right: 8px;
}

.press-logos {
    margin-top: 16px;
}

@media only screen and (max-width: 768px) {
    .rec-content h1{
        margin-top: 40px;
    }
}

/* & Recognition Section Ends Here. */

/* * -------------------------------------------------------------------------------------- */

/* ^ Trust Section Starts Here. */

.trust {
    margin-top: 80px;
}

.left-trust h1 {
    font-size: 2rem;
    line-height: 48px;
    color: #424242;
    margin-bottom: 40px;
    font-weight: 500;
}

.para h3 {
    font-size: 20px;
    line-height: 34px;
    color: #424242;
    margin-bottom: 5px;
}

.para p {
    font-size: 16px;
    line-height: 28.8px;
    color: #666666;
    margin-bottom: 32px;
}

.trust-img img {
    height: 580px;
    width: auto;
}

.links a {
    padding: 0 20px;
    text-decoration: none;
    text-align: center;
}

.links a:hover {
    color: #424242;
}

/* & Trust Section Ends Here. */

/* * -------------------------------------------------------------------------------------- */

/* ^ Price Section Starts Here. */

.left-price h2 {
    font-size: 32px;
    line-height: 48px;
    color: #424242;
    margin-bottom: 20px;
}

.left-price p {
    font-size: 16px;
    line-height: 27.2px;
    color: #424242;
    margin-bottom: 20px;
}

.left-price a {
    font-size: 16px;
    line-height: 28.8px;
    text-decoration: none;
}

.left-price a:hover {
    color: #444444;
}

.all-box {
    border: 1px solid #42424246;
    border-radius: 4px;
}

.box {
    padding-left: 25px;
    padding-right: 24px;
    text-align: center;
    min-height: 190px;
    border: 1px solid #42424244;
    /* border-radius: 4px; */
    width: 50%;
}

.box h1 {
    font-size: 44px;
    line-height: 88px;
    margin-bottom: 16px;
    color: #424242;
}

.box p {
    font-size: 16px;
    line-height: 28.2px;
    margin-bottom: 17px;
    text-align: center;
    color: #424242;
}

@media only screen and (max-width: 768px) {
    .all-box{
        margin-top: 20px;
    }
}

/* & Price Section Ends Here. */

/* * -------------------------------------------------------------------------------------- */

/* ^ Market Section Starts Here. */

.market-image {
    margin-bottom: 20px;
    /* Adjust this value to add extra space between image and content */
}

.market-content h2 {
    font-size: 24px;
    line-height: 40.8px;
    color: #424242;
}

.market-para p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 28.8px;
    color: #424242;
    margin-bottom: 18px;
}

.market-para a {
    font-size: 16px;
    line-height: 27.2px;
    margin-bottom: 18px;
    text-decoration: none;
}

.market-para a:hover {
    color: #424242;
}

@media only screen and (max-width: 768px) {
    .market-content h2{
        margin-top: 20px;
    }
}

/* & Market Section Ends Here. */

/* * -------------------------------------------------------------------------------------- */

/* ^ Account Section Starts Here. */

.account-container {
    margin-top: 75px;
}

.account h1 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 20px;
    text-align: center;
}

.account p {
    font-size: 16px;
    line-height: 27.2px;
    margin-bottom: 15px;
    text-align: center;
}

/* & Account Section Ends Here. */

/* * -------------------------------------------------------------------------------------- */

/* ^ Footer Section Starts Here. */

.footer-container{
    margin-top: 100px !important;
    box-shadow: 2px 2px 1px rgba(110, 110, 110, 0.027);
}

.first img{
    max-height: 20px;
    width: auto;
}

.first p{
    font-size: 13.5px;
    line-height: 23.04px;
    text-align: start;
    color: #666666;
    font-weight: 475;
}

.logos {
    margin-top: 15px;
}

.logos i {
    margin-right: 5px;
    font-size: 20px;
    cursor: pointer;
}

.common h1 {
    font-size: 18px;
    line-height: 36px;
    text-align: left;
    color: #424242;
    margin-bottom: 16px;
    font-weight: 500;
}

.common h4 {
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    color: #666666;
    margin-bottom: 10px;
    font-weight: 450;
}

.common h4:hover {
    color: #387ed1;
    cursor: pointer;
}

/* Media query for small to medium screens (Footer */
@media only screen and (max-width: 768px) {
    .common h1{
        margin-top: 30px;
    }
}

/* & Footer Section Ends Here. */